.app{
    width: 700px;
    background-color: lightgray;
    margin: 2% auto;
    border-radius:  20px;
    padding: 40px 60px 40px 40px;
    display: grid;
    grid-template-rows: 70px 621px;
}
.app__controls{
    display: flex;

}

.app__controls__input{
    height: 70px;
    width: 75%;
    background-color: white;

    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    padding-left: 5%;
    font-size: 20px;
}
.app__controls__button{
    border: none;
    height: 72px;
    width: 25%;
    border-radius: 0 20px 20px 0;
    background-color: goldenrod;
    cursor: pointer;
}
.app__list{
    margin-top: 20px;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
}
.app__list__item{
    background-color: lightcoral;
    height: 50px;
    border-radius: 20px;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    
}
.app__list__item_done{
    background-color: lightgreen;
    height: 50px;
    border-radius: 20px;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    text-decoration: line-through;
}
input[type="checkbox"] {
    transform: scale(2);
}
.app__list__item__text{
    width: 100%;
    font-size: 20px;
}
.app__list__item__icon{
    cursor: pointer;
    width: 100px;
    background: none;
    border: none;
}
